[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
radio-epg = {editable = true,file = "file:///D:/dev/aws/radio-epg/radio-epg"}
boto3 = "*"
aws-cdk = "*"
aws-cdk-aws-s3 = "*"

[requires]
python_version = "3.7"
